* {
    margin: 0;
    padding: 0;
    background: #F7F7F9;
    overflow: hidden;
}

.body {
    display: flex;
}

.cont {
    font-family: 'Poppins', sans-serif;
    color: #1E255E;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    width: 520px;
    margin-left: 145px;
    margin-top: 88px;
}

.cont1 {
    font-family: 'Poppins', sans-serif;
    color: rgba(30, 37, 94, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 383.945px;
    margin-left: 145px;
    margin-top: 10px;

}

.mobile {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 794px;
    height: 682px;
    margin-top: 70px;

}


.foot>button {
    border-radius: 100px;
    color: #3C4EF3;
    width: 200px;
    height: 60px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 236, 236);
    margin-left: 90px;
}

.foot {
    display: flex;
    margin-left: 45px;
    margin-top: 50px;
    justify-content: start;
    padding: 20px;
    justify-content: space-evenly;
}

.space {
    margin: 5%;
    background-color: rgb(236, 236, 236);
}